#### Problem Statement

The online retail business is looking to 

- optimize sales

- cut down costs

#### Approach - Problem Framing

To solve this problem, we need 

- dataset containing sales information

- try the understand the data

- prepare for analysis

- Try to answer a couple questions like : 1. Sales trend 2. How much does it cost to run the business 3. How much are we making

- Draw conclusions

- Prepare a dashboard/summary

In [38]:
import pandas as pd
import numpy as np

In [39]:
data = pd.read_csv('Online Retail data.csv', encoding = 'ISO-8859-1')

C:\Users\aaginam\AppData\Local\Temp\ipykernel_2820\2971935629.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Online Retail data.csv', encoding = 'ISO-8859-1')

In [40]:
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/01/2009 07:45,$6.95,13085.0,UK
1,489434,79323P,PINK CHERRY LIGHTS,12,12/01/2009 07:45,$6.75,13085.0,UK
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/01/2009 07:45,6.75,13085.0,UK
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/01/2009 07:45,2.1,13085.0,UK
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/01/2009 07:45,1.25,13085.0,UK

### Data Exploration

In [41]:
data.shape

(525461, 8)

In [42]:
data.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  object
 5   Price        525461 non-null  object
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 32.1+ MB

Issues with data

- Customer ID has null values

- Data type issues : cust ID, Invoice date, price

#### Data dictionary

Here's a data dictionary for your dataset:

| Column       | Data Type    | Description                                                                                     |
|--------------|--------------|-------------------------------------------------------------------------------------------------|
| **Invoice**         | String       | Unique identifier for each transaction (Invoice number).                                  |
| **StockCode**       | String       | Unique code identifying each product in stock.                                            |
| **Description**     | String       | Description of the product.                                                               |
| **Quantity**        | Integer      | Number of items purchased per product in the transaction.                                 |
| **InvoiceDate**     | DateTime     | Date and time when the transaction was recorded.                                          |
| **Price**           | Float        | Unit price of the product (per item) in the specified currency.                           |
| **Customer ID**     | Integer      | Unique identifier for each customer.                                                      |
| **Country**         | String       | Country where the customer is located or where the transaction occurred.                  |

This dictionary provides an overview of each columnâ€™s data type and its purpose within the dataset. Let me know if any adjustments are needed based on specific details of the dataset.

#### Data Cleaning

In [44]:
data.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [45]:
data.isnull().sum() / len(data) * 100

Invoice         0.000000
StockCode       0.000000
Description     0.557225
Quantity        0.000000
InvoiceDate     0.000000
Price           0.000000
Customer ID    20.539488
Country         0.000000
dtype: float64

- Drop the customer ID column because it is irrelevant for the analysis and it has high percentage of null values

In [46]:
data.drop('Customer ID', axis=1, inplace=True)

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  object
 5   Price        525461 non-null  object
 6   Country      525461 non-null  object
dtypes: int64(1), object(6)
memory usage: 28.1+ MB

In [48]:
data['Description'].value_counts()

Description
WHITE HANGING HEART T-LIGHT HOLDER     3549
REGENCY CAKESTAND 3 TIER               2212
STRAWBERRY CERAMIC TRINKET BOX         1843
PACK OF 72 RETRO SPOT CAKE CASES       1466
ASSORTED COLOUR BIRD ORNAMENT          1457
                                       ...
stock credited from royal yacht inc       1
VINTAGE METAL CAKE STAND CREAM            1
BLUE BAROQUE FLOCK CANDLE HOLDER          1
S/4 HEART CRYSTAL FRIDGE MAGNETS          1
dotcom email                              1
Name: count, Length: 4681, dtype: int64

In [49]:
data[data['Description'].isnull()].head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Country
470,489521,21646,NaN,-50,12/01/2009 11:44,0,United Kingdom
3114,489655,20683,NaN,-44,12/01/2009 17:26,0,United Kingdom
3161,489659,21350,NaN,230,12/01/2009 17:39,0,United Kingdom
3731,489781,84292,NaN,17,12/02/2009 11:45,0,United Kingdom
4296,489806,18010,NaN,-770,12/02/2009 12:42,0,United Kingdom
4566,489821,85049G,NaN,-240,12/02/2009 13:25,0,United Kingdom
6378,489882,35751C,NaN,12,12/02/2009 16:22,0,United Kingdom
6555,489898,79323G,NaN,954,12/03/2009 09:40,0,United Kingdom
6576,489901,21098,NaN,-200,12/03/2009 09:47,0,United Kingdom
6581,489903,21166,NaN,48,12/03/2009 09:57,0,United Kingdom

In [50]:
data.dropna(axis=0, inplace=True)

In [51]:
data.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Country        0
dtype: int64

In [52]:
data.duplicated().sum() / len(data) * 100

1.3137926217100164

In [53]:
data = data.drop_duplicates()

In [54]:
data.duplicated().sum()

0

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 515668 entries, 0 to 525460
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      515668 non-null  object
 1   StockCode    515668 non-null  object
 2   Description  515668 non-null  object
 3   Quantity     515668 non-null  int64
 4   InvoiceDate  515668 non-null  object
 5   Price        515668 non-null  object
 6   Country      515668 non-null  object
dtypes: int64(1), object(6)
memory usage: 31.5+ MB

In [56]:
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/01/2009 07:45,$6.95,UK
1,489434,79323P,PINK CHERRY LIGHTS,12,12/01/2009 07:45,$6.75,UK
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/01/2009 07:45,6.75,UK
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/01/2009 07:45,2.1,UK
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/01/2009 07:45,1.25,UK

In [61]:
data_copy = data.copy()

In [65]:
data.loc[0, 'Price'] = data.loc[0, 'Price'].replace('$', '')

In [66]:
data.loc[1, 'Price'] = data.loc[1, 'Price'].replace('$', '')

In [67]:
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/01/2009 07:45,6.95,UK
1,489434,79323P,PINK CHERRY LIGHTS,12,12/01/2009 07:45,6.75,UK
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/01/2009 07:45,6.75,UK
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/01/2009 07:45,2.1,UK
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/01/2009 07:45,1.25,UK

In [72]:
data['Price'] = data['Price'].astype('float64')

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 515668 entries, 0 to 525460
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      515668 non-null  object
 1   StockCode    515668 non-null  object
 2   Description  515668 non-null  object
 3   Quantity     515668 non-null  int64
 4   InvoiceDate  515668 non-null  object
 5   Price        515668 non-null  float64
 6   Country      515668 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 47.6+ MB

In [74]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 515668 entries, 0 to 525460
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      515668 non-null  object
 1   StockCode    515668 non-null  object
 2   Description  515668 non-null  object
 3   Quantity     515668 non-null  int64
 4   InvoiceDate  515668 non-null  datetime64[ns]
 5   Price        515668 non-null  float64
 6   Country      515668 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 47.6+ MB

In [76]:
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,UK
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,UK
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,UK
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,UK
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,UK

In [77]:
cat_columns = [col for col in data.select_dtypes('object')]

In [78]:
cat_columns

['Invoice', 'StockCode', 'Description', 'Country']

In [79]:
for col in cat_columns:
    print(col)
    print(data[col].value_counts())
    print('---------------------')

Invoice
Invoice
537434     675
538071     652
537638     601
537237     597
536876     593
          ...
502334       1
521926       1
512044       1
529719       1
C527357      1
Name: count, Length: 25888, dtype: int64
---------------------
StockCode
StockCode
85123A    3470
22423     2210
85099B    2045
21212     1900
21232     1807
          ...
21838        1
84814A       1
85024A       1
72084B       1
21120        1
Name: count, Length: 4276, dtype: int64
---------------------
Description
Description
WHITE HANGING HEART T-LIGHT HOLDER    3503
REGENCY CAKESTAND 3 TIER              2202
STRAWBERRY CERAMIC TRINKET BOX        1807
PACK OF 72 RETRO SPOT CAKE CASES      1445
ASSORTED COLOUR BIRD ORNAMENT         1443
                                      ...
VINTAGE METAL CAKE STAND CREAM           1
BLUE BAROQUE FLOCK CANDLE HOLDER         1
S/4 HEART CRYSTAL FRIDGE MAGNETS         1
HEART MEASURING SPOONS SMALL             1
dotcom email                             1
Name: count, Length: 4681, dtype: int64
---------------------
Country
Country
United Kingdom          476097
EIRE                      9660
Germany                   8120
France                    5754
Netherlands               2768
Spain                     1271
Switzerland               1187
Portugal                  1098
Belgium                   1053
Channel Islands            906
Sweden                     901
Italy                      729
Australia                  654
Cyprus                     546
Austria                    537
Greece                     517
United Arab Emirates       432
Denmark                    428
Norway                     369
Finland                    354
Unspecified                310
USA                        244
Japan                      224
Poland                     194
Malta                      172
Lithuania                  154
Singapore                  117
RSA                        111
Bahrain                    107
Canada                      77
Hong Kong                   76
Thailand                    76
Israel                      74
Iceland                     71
Korea                       63
Brazil                      62
West Indies                 54
Bermuda                     34
Nigeria                     32
UK                          22
Lebanon                     13
Name: count, dtype: int64
---------------------

In [80]:
for col in cat_columns:
    data[col] = data[col].str.strip()

In [81]:
data['Country'] = data['Country'].str.replace('UK', 'United Kingdom')

In [82]:
data['Country'].value_counts()

Country
United Kingdom          476119
EIRE                      9660
Germany                   8120
France                    5754
Netherlands               2768
Spain                     1271
Switzerland               1187
Portugal                  1098
Belgium                   1053
Channel Islands            906
Sweden                     901
Italy                      729
Australia                  654
Cyprus                     546
Austria                    537
Greece                     517
United Arab Emirates       432
Denmark                    428
Norway                     369
Finland                    354
Unspecified                310
USA                        244
Japan                      224
Poland                     194
Malta                      172
Lithuania                  154
Singapore                  117
RSA                        111
Bahrain                    107
Canada                      77
Hong Kong                   76
Thailand                    76
Israel                      74
Iceland                     71
Korea                       63
Brazil                      62
West Indies                 54
Bermuda                     34
Nigeria                     32
Lebanon                     13
Name: count, dtype: int64

In [83]:
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,United Kingdom

In [84]:
data.to_csv('Cleaned_Data.csv')